# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
.DS_Store

*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Kimera-VIO/
__pycache__/
cs543_dataet/
dataset/
demo_dataset/
material/
output/
reference/